# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

utils
services
lib
pages/AcquisitionsPage
pages/AcquisitionsPage
pages/CalculatorPage/DealAffordabilityPage.jsx
pages/CalculatorPage/ExitValuePage.jsx
pages/CalculatorPage/NetWorkingCapitalPage.jsx
pages/DealRoomPage
pages/FavoritesPage
pages/ListBusinessPage
pages/ListBusinessPage
pages/ListingDetailsPage
pages/MarketPlacePage